.max-height {
    max-height: 100%;
}
.orange {
    height: 640px;
    position: relative;
}
.arena_banner {padding-left: 0}
.bg_orange {background-color: orange;height: 640px;padding: 0;position: relative;}